In [3]:
import pandas as pd

df_train = pd.read_csv('historical_data/german_credit_risk/wml/german_credit_data_biased_training.csv')
df_train.describe()

,LoanDuration,LoanAmount,InstallmentPercent,CurrentResidenceDuration,Age,ExistingCreditsCount,Dependents
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,21.393000,3480.145000,2.982400,2.854200,35.932400,1.465800,1.164600
std,11.162843,2488.232783,1.127096,1.115702,10.648536,0.565415,0.370856
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,13.000000,1326.750000,2.000000,2.000000,28.000000,1.000000,1.000000
50%,21.000000,3238.500000,3.000000,3.000000,36.000000,1.000000,1.000000
75%,29.000000,5355.000000,4.000000,4.000000,44.000000,2.000000,1.000000
max,64.000000,11676.000000,6.000000,6.000000,74.000000,4.000000,2.000000

In [4]:
import numpy as np

In [99]:
#add column city -> metro, non-metro
def estimate_city(label):
    if label == 'Risk':
        if np.random.rand() <= 0.25:
            city = "Metro"
        else:
            city = "Non-Metro"
    else:
        if np.random.rand() <= 0.25:
            city = "Non-Metro"
        else:
            city = "Metro"
    return city

def reverse_estimate_city(label):
    if label == 'Risk':
        if np.random.rand() <= 0.4:
            city = "Metro"
        else:
            city = "Non-Metro"
    else:
        if np.random.rand() <= 0.4:
            city = "Non-Metro"
        else:
            city = "Metro"
    return city
        
city = df_train['Risk'].apply(lambda x: estimate_city(x))

In [100]:
#add column cibil -> continuous value
def estimate_cibil(label):
    if label == 'Risk':
        if np.random.rand() <= 0.2:
            cibil = 750 + np.random.randint(50,150)
        else:
            cibil = 700 + np.random.randint(0,50)
    else:
        if np.random.rand() <= 0.2:
            cibil = 700 + np.random.randint(0,50)
        else:
            cibil = 750 + np.random.randint(50,150)
    return cibil

def reverse_estimate_cibil(label):
    if label == 'Risk':
        if np.random.rand() <= 0.4:
            cibil = 750 + np.random.randint(50,150)
        else:
            cibil = 700 + np.random.randint(0,50)
    else:
        if np.random.rand() <= 0.4:
            cibil = 700 + np.random.randint(0,50)
        else:
            cibil = 750 + np.random.randint(50,150)
    return cibil

cibil = df_train['Risk'].apply(lambda x: estimate_cibil(x))

In [101]:
#add column salary
def estimate_salary(label):
    if label == 'Risk':
        if np.random.rand() <= 0.1:
            salary = 5000 + np.random.randint(0,3000)
        else:
            salary = 3000 + np.random.randint(0,2000)
    else:
        if np.random.rand() <= 0.1:
            salary = 3000 + np.random.randint(0,2000)
        else:
            salary = 5000 + np.random.randint(0,3000)
    return salary

def reverse_estimate_salary(label):
    if label == 'Risk':
        if np.random.rand() <= 0.3:
            salary = 5000 + np.random.randint(0,3000)
        else:
            salary = 3000 + np.random.randint(0,2000)
    else:
        if np.random.rand() <= 0.3:
            salary = 3000 + np.random.randint(0,2000)
        else:
            salary = 5000 + np.random.randint(0,3000)
    return salary

salary = df_train['Risk'].apply(lambda x: estimate_salary(x))

In [13]:
df_train['Salary'] = salary
df_train['City']= city
df_train['CIBIL'] = cibil
display(df_train)

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,...,Housing,ExistingCreditsCount,Job,Dependents,Telephone,ForeignWorker,Risk,Salary,City,CIBIL
0,0_to_200,31,credits_paid_to_date,other,1889,100_to_500,less_1,3,female,none,...,own,1,skilled,1,none,yes,No Risk,5380,Metro,846
1,less_0,18,credits_paid_to_date,car_new,462,less_100,1_to_4,2,female,none,...,own,2,skilled,1,none,yes,No Risk,7866,Non-Metro,836
2,less_0,15,prior_payments_delayed,furniture,250,less_100,1_to_4,2,male,none,...,own,2,skilled,1,yes,no,No Risk,7156,Non-Metro,826
3,0_to_200,28,credits_paid_to_date,retraining,3693,less_100,greater_7,3,male,none,...,own,1,skilled,1,none,yes,No Risk,4614,Non-Metro,848
4,no_checking,28,prior_payments_delayed,education,6235,500_to_1000,greater_7,3,male,none,...,own,2,skilled,1,none,yes,Risk,4526,Non-Metro,715
5,no_checking,32,outstanding_credit,vacation,9604,500_to_1000,greater_7,6,male,co-applicant,...,free,2,skilled,2,yes,yes,Risk,3680,Non-Metro,735
6,no_checking,9,prior_payments_delayed,car_new,1032,100_to_500,4_to_7,3,male,none,...,own,1,management_self-employed,1,none,yes,No Risk,7310,Non-Metro,883
7,less_0,16,credits_paid_to_date,vacation,3109,less_100,4_to_7,3,female,none,...,own,2,skilled,1,none,yes,No Risk,6942,Non-Metro,875
8,0_to_200,11,credits_paid_to_date,car_new,4553,less_100,less_1,3,female,none,...,own,1,management_self-employed,1,none,yes,No Risk,6829,Metro,731
9,no_checking,35,outstanding_credit,appliances,7138,500_to_1000,greater_7,5,male,co-applicant,...,free,2,skilled,2,yes,yes,Risk,4755,Non-Metro,899
10,less_0,5,all_credits_paid_back,car_new,1523,less_100,unemployed,2,female,none,...,rent,1,management_self-employed,1,none,yes,No Risk,7035,Metro,868
11,less_0,9,all_credits_paid_back,car_used,4302,less_100,1_to_4,3,male,none,...,free,1,skilled,1,none,yes,No Risk,6643,Metro,831
12,no_checking,27,outstanding_credit,furniture,3310,500_to_1000,greater_7,5,male,none,...,free,1,skilled,1,yes,yes,No Risk,6018,Metro,875
13,0_to_200,29,credits_paid_to_date,furniture,3705,less_100,less_1,3,female,co-applicant,...,own,1,skilled,1,none,yes,No Risk,5748,Metro,833
14,greater_200,4,all_credits_paid_back,car_new,2407,less_100,1_to_4,3,female,none,...,own,1,skilled,2,yes,yes,No Risk,7595,Non-Metro,844
15,no_checking,33,all_credits_paid_back,furniture,3810,100_to_500,less_1,2,female,co-applicant,...,own,1,skilled,1,none,yes,Risk,3532,Non-Metro,743
16,0_to_200,4,all_credits_paid_back,car_new,250,less_100,1_to_4,2,female,none,...,own,1,skilled,1,none,yes,No Risk,7600,Metro,810
17,no_checking,39,prior_payments_delayed,repairs,7150,500_to_1000,4_to_7,3,male,co-applicant,...,own,2,skilled,1,yes,yes,Risk,7933,Non-Metro,712
18,0_to_200,4,all_credits_paid_back,car_new,250,less_100,1_to_4,2,female,none,...,own,1,skilled,1,none,yes,No Risk,7339,Metro,831
19,less_0,13,all_credits_paid_back,vacation,2317,less_100,less_1,2,female,none,...,own,2,skilled,1,none,yes,No Risk,7269,Metro,851
20,0_to_200,15,prior_payments_delayed,furniture,250,500_to_1000,4_to_7,3,male,none,...,own,2,skilled,2,yes,yes,No Risk,7025,Metro,878
21,0_to_200,16,prior_payments_delayed,car_new,5551,100_to_500,1_to_4,3,male,none,...,rent,2,management_self-employed,1,none,yes,No Risk,6150,Metro,886
22,no_checking,34,prior_payments_delayed,furniture,6063,unknown,1_to_4,4,male,none,...,own,2,skilled,1,none,yes,No Risk,3523,Metro,819
23,less_0,13,all_credits_paid_back,radio_tv,1045,100_to_500,less_1,2,female,none,...,rent,1,skilled,1,none,yes,No Risk,6796,Metro,878
24,less_0,15,credits_paid_to_date,vacation,250,less_100,4_to_7,2,female,none,...,rent,1,skilled,1,none,yes,No Risk,6682,Non-Metro,884
25,0_to_200,33,credits_paid_to_date,repairs,3946,less_100,4_to_7,2,female,none,...,own,1,unskilled,1,none,yes,No Risk,5255,Metro,873
26,less_0,23,prior_payments_delayed,car_used,250,greater_1000,1_to_4,2,male,none,...,rent,1,skilled,1,none,yes,No Risk,6154,Metro,701
27,less_0,9,prior_payments_delayed,furniture,292,less_100,less_1,2,female,none,...,rent,1,skilled,1,none,yes,No Risk,7295,Non-Metro,747
28,no_checking,10,prior_payments_delayed,radio_tv,4312,100_to_500,less_1,3,female,none,...,own,1,skilled,2,yes,yes,No Risk,3697,Metro,846
29,no_checking,25,outstanding_credit,radio_tv,6945,500_to_1000,1_to_4,4,female,none,...,own,1,management_self-employed,1,yes,yes,Risk,3214,Non-Metro,700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,0_to_200,16,credits_paid_to_date,car_new,1387,less_100,less_1,2,female,none,...,own,1,skilled,1,none,yes,No Risk,6707,Metro,834
4971,greater_200,25,credits_paid_to_date,car_used,6225,100_to_500,1_to_4,3,male,none,...,own,2,skilled,1,none,yes,Risk,3252,Non-Metro,806
4972,no_checking,32,prior_payments_delayed,education,4424,500_to_1000,4_to_7,3,male,none,...,own,2,skilled,1,none,yes,No Risk,3165,Non-Metro,878
4973,less_0,14,all_credits_paid_back,car_new,2244,less_100,less_1,2,female,none,...,own,1,skilled,1,none,yes,No Risk,7649,Non-Metro,834
4974,no_checking,36,prior_payments_delayed,other,2992,unknown,greater_7,4,male,none,...,own,2,skilled,1,none,yes,No Risk,7222,Metro,806
4975,less_0,20,prior_payments_delayed,car_used,2034,greater_1000,greater_7,4,male,none,...,own,2,skilled,1,yes,yes,No Risk,6079,Metro,841
4976,no_checking,19,credits_paid_to_date,radio_tv,2804,100_to_500,less_1,3,female,none,...,own,1,skilled,1,none,yes,No Risk,6541,Non-Metro,725
4977,less_0,10,all_credits_paid_back,car_used,259,100_to_500,1_to_4,2,female,none,...,own,1,skilled,1,yes,yes,No Risk,3003,Metro,883
4978,no_checking,8,credits_paid_to_date,car_used,6602,less_100,unemployed,3,male,none,...,free,1,management_self-employed,1,yes,yes,No Risk,6187,Metro,884
4979,0_to_200,32,outstanding_credit,appliances,4902,100_to_500,4_to_7,4,male,none,...,free,2,skilled,1,yes,yes,Risk,3594,Non-Metro,847
4980,0_to_200,32,credits_paid_to_date,business,2238,100_to_500,1_to_4,2,male,none,...,rent,1,unemployed,1,none,yes,No Risk,6369,Metro,816
4981,no_checking,33,prior_payments_delayed,appliances,6805,100_to_500,4_to_7,3,female,none,...,own,2,skilled,1,none,yes,Risk,4604,Non-Metro,712
4982,0_to_200,9,no_credits,car_new,250,less_100,unemployed,2,female,none,...,own,1,skilled,1,none,yes,No Risk,7579,Metro,813
4983,0_to_200,32,credits_paid_to_date,car_used,3706,greater_1000,1_to_4,4,female,none,...,own,2,unskilled,2,yes,yes,No Risk,6401,Metro,864
4984,0_to_200,18,credits_paid_to_date,appliances,3301,less_100,1_to_4,2,male,none,...,rent,1,unemployed,1,yes,yes,No Risk,7528,Metro,850
4985,no_checking,53,outstanding_credit,education,10148,greater_1000,greater_7,6,male,co-applicant,...,free,3,skilled,2,yes,yes,Risk,4834,Non-Metro,737
4986,less_0,4,all_credits_paid_back,car_used,250,less_100,unemployed,1,male,none,...,rent,1,skilled,1,none,yes,No Risk,5318,Metro,829
4987,less_0,22,no_credits,furniture,1822,less_100,1_to_4,3,female,none,...,own,1,skilled,1,none,yes,No Risk,7547,Non-Metro,871
4988,no_checking,32,prior_payments_delayed,radio_tv,3581,500_to_1000,4_to_7,4,female,none,...,own,2,skilled,1,none,yes,No Risk,5809,Metro,846
4989,0_to_200,25,credits_paid_to_date,car_new,2021,500_to_1000,1_to_4,3,male,none,...,rent,1,skilled,1,none,yes,No Risk,3104,Metro,850
4990,no_checking,36,prior_payments_delayed,other,8022,100_to_500,4_to_7,5,male,none,...,free,2,management_self-employed,1,yes,yes,Risk,3256,Non-Metro,864
4991,less_0,11,all_credits_paid_back,furniture,833,less_100,less_1,1,male,none,...,own,1,skilled,1,none,yes,No Risk,6726,Non-Metro,800
4992,no_checking,8,credits_paid_to_date,car_used,1654,less_100,1_to_4,2,male,none,...,own,1,skilled,1,yes,yes,No Risk,5501,Non-Metro,820
4993,0_to_200,15,credits_paid_to_date,car_used,4097,100_to_500,1_to_4,3,male,none,...,own,2,skilled,1,none,yes,No Risk,5232,Non-Metro,872
4994,0_to_200,12,prior_payments_delayed,retraining,5715,less_100,less_1,3,male,co-applicant,...,own,1,skilled,1,yes,yes,No Risk,3565,Metro,805
4995,greater_200,27,credits_paid_to_date,furniture,4650,less_100,1_to_4,3,male,none,...,own,1,skilled,1,none,yes,No Risk,5136,Metro,897
4996,0_to_200,11,prior_payments_delayed,furniture,250,greater_1000,4_to_7,3,male,none,...,own,1,unemployed,1,none,yes,No Risk,6462,Metro,896
4997,no_checking,32,outstanding_credit,appliances,6536,unknown,greater_7,5,male,co-applicant,...,own,2,unskilled,2,yes,yes,Risk,3626,Metro,747
4998,0_to_200,38,outstanding_credit,other,1597,500_to_1000,greater_7,3,female,co-applicant,...,own,1,skilled,1,none,yes,Risk,3929,Non-Metro,745
4999,less_0,12,all_credits_paid_back,car_new,4152,less_100,1_to_4,2,male,none,...,own,2,skilled,1,none,yes,No Risk,6334,Metro,702

In [22]:
sum((df_train.loc[df_train['Risk'] == 'No Risk']['CIBIL'] > 750))

2673

In [20]:
sum((df_train.loc[df_train['Risk'] == 'Risk']['CIBIL'] < 750))

1329

In [23]:
df_train.to_csv('manipulated_data/updated_risk_training_data_biased.csv',index=False)

In [17]:
import pandas as pd
import numpy as np

In [18]:
df_train = pd.read_csv('manipulated_data/updated_risk_training_data_biased.csv')
df_train.columns

Index(['CheckingStatus', 'LoanDuration', 'CreditHistory', 'LoanPurpose',
       'LoanAmount', 'ExistingSavings', 'EmploymentDuration',
       'InstallmentPercent', 'Sex', 'OthersOnLoan', 'CurrentResidenceDuration',
       'OwnsProperty', 'Age', 'InstallmentPlans', 'Housing',
       'ExistingCreditsCount', 'Job', 'Dependents', 'Telephone',
       'ForeignWorker', 'Salary', 'City', 'CIBIL', 'Risk'],
      dtype='object')

In [19]:
import json

with open('historical_data/german_credit_risk/wml/additional_feedback_data.json') as infile:
    feedback_json = json.load(infile)

In [22]:
df_feedback = pd.DataFrame.from_records(feedback_json['data'])

In [24]:
df_feedback.columns = ['CheckingStatus', 'LoanDuration', 'CreditHistory', 'LoanPurpose',
       'LoanAmount', 'ExistingSavings', 'EmploymentDuration',
       'InstallmentPercent', 'Sex', 'OthersOnLoan', 'CurrentResidenceDuration',
       'OwnsProperty', 'Age', 'InstallmentPlans', 'Housing',
       'ExistingCreditsCount', 'Job', 'Dependents', 'Telephone',
       'ForeignWorker', 'Risk']
df_feedback.head()

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,...,OwnsProperty,Age,InstallmentPlans,Housing,ExistingCreditsCount,Job,Dependents,Telephone,ForeignWorker,Risk
0,less_0,10,all_credits_paid_back,car_new,250,500_to_1000,4_to_7,3,male,none,...,real_estate,23,none,rent,1,skilled,1,none,yes,No Risk
1,no_checking,23,prior_payments_delayed,appliances,6964,100_to_500,4_to_7,4,female,none,...,car_other,39,none,own,1,skilled,1,none,yes,Risk
2,0_to_200,30,outstanding_credit,appliances,3464,100_to_500,greater_7,3,male,guarantor,...,savings_insurance,51,stores,free,1,skilled,1,yes,yes,Risk
3,no_checking,23,outstanding_credit,car_used,2681,500_to_1000,greater_7,4,male,none,...,car_other,33,stores,free,1,unskilled,1,yes,yes,No Risk
4,0_to_200,18,prior_payments_delayed,furniture,1673,less_100,1_to_4,2,male,none,...,car_other,30,none,own,2,skilled,1,none,yes,Risk

In [58]:
df_feedback['Salary'] = df_feedback['Risk'].apply(lambda x: estimate_salary(x))
df_feedback['City'] = df_feedback['Risk'].apply(lambda x: estimate_city(x))
df_feedback['CIBIL'] = df_feedback['Risk'].apply(lambda x: estimate_cibil(x))
display(df_feedback)

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,...,Housing,ExistingCreditsCount,Job,Dependents,Telephone,ForeignWorker,Risk,Salary,CIBIL,City
0,less_0,10,all_credits_paid_back,car_new,250,500_to_1000,4_to_7,3,male,none,...,rent,1,skilled,1,none,yes,No Risk,5643,818,Metro
1,no_checking,23,prior_payments_delayed,appliances,6964,100_to_500,4_to_7,4,female,none,...,own,1,skilled,1,none,yes,Risk,4553,728,Metro
2,0_to_200,30,outstanding_credit,appliances,3464,100_to_500,greater_7,3,male,guarantor,...,free,1,skilled,1,yes,yes,Risk,3129,749,Metro
3,no_checking,23,outstanding_credit,car_used,2681,500_to_1000,greater_7,4,male,none,...,free,1,unskilled,1,yes,yes,No Risk,5840,861,Metro
4,0_to_200,18,prior_payments_delayed,furniture,1673,less_100,1_to_4,2,male,none,...,own,2,skilled,1,none,yes,Risk,6119,719,Non-Metro
5,no_checking,44,outstanding_credit,radio_tv,3476,unknown,greater_7,4,male,co-applicant,...,free,2,skilled,2,yes,yes,Risk,4772,701,Non-Metro
6,less_0,8,no_credits,education,803,less_100,unemployed,1,male,none,...,rent,1,skilled,1,none,yes,No Risk,6570,855,Metro
7,0_to_200,7,all_credits_paid_back,car_new,250,less_100,unemployed,1,male,none,...,rent,1,skilled,1,none,yes,No Risk,6438,810,Metro
8,0_to_200,33,credits_paid_to_date,radio_tv,3548,100_to_500,1_to_4,3,male,none,...,own,2,skilled,1,yes,yes,Risk,4979,733,Metro
9,no_checking,24,prior_payments_delayed,retraining,4158,100_to_500,greater_7,3,female,none,...,own,1,unskilled,2,none,yes,Risk,4493,705,Non-Metro
10,no_checking,30,prior_payments_delayed,appliances,5796,unknown,4_to_7,4,male,none,...,own,2,management_self-employed,2,none,yes,No Risk,5542,824,Metro
11,0_to_200,6,prior_payments_delayed,furniture,2079,500_to_1000,less_1,3,female,none,...,rent,1,skilled,1,none,yes,No Risk,3916,722,Metro
12,0_to_200,16,credits_paid_to_date,car_new,4172,less_100,4_to_7,3,male,none,...,own,1,skilled,1,yes,yes,No Risk,5305,825,Non-Metro
13,no_checking,31,outstanding_credit,appliances,9149,unknown,greater_7,5,male,co-applicant,...,own,3,skilled,2,yes,yes,Risk,4871,845,Metro
14,no_checking,28,outstanding_credit,appliances,7653,unknown,4_to_7,4,male,none,...,own,2,skilled,1,none,yes,No Risk,3144,834,Metro
15,0_to_200,14,credits_paid_to_date,furniture,2056,less_100,4_to_7,3,male,none,...,rent,1,skilled,1,none,yes,No Risk,5570,815,Metro
16,no_checking,29,prior_payments_delayed,appliances,4321,greater_1000,4_to_7,4,male,none,...,free,2,management_self-employed,1,yes,yes,Risk,4731,879,Non-Metro
17,no_checking,8,prior_payments_delayed,car_new,3332,greater_1000,greater_7,3,male,none,...,free,2,skilled,1,yes,yes,Risk,4194,715,Non-Metro
18,0_to_200,28,credits_paid_to_date,furniture,3021,less_100,4_to_7,3,male,none,...,own,2,skilled,1,none,yes,No Risk,5687,817,Metro
19,0_to_200,4,prior_payments_delayed,car_new,250,less_100,4_to_7,2,male,none,...,rent,1,unemployed,1,yes,yes,No Risk,5579,874,Metro
20,0_to_200,24,outstanding_credit,business,5245,100_to_500,greater_7,4,male,none,...,own,2,management_self-employed,1,none,yes,Risk,3299,721,Non-Metro
21,less_0,4,all_credits_paid_back,radio_tv,1104,less_100,1_to_4,2,male,none,...,rent,1,skilled,1,none,yes,No Risk,7361,723,Metro
22,less_0,10,prior_payments_delayed,car_new,250,less_100,4_to_7,3,male,none,...,own,1,skilled,1,none,yes,No Risk,5643,853,Metro
23,less_0,6,all_credits_paid_back,radio_tv,250,less_100,less_1,1,female,none,...,own,1,skilled,1,none,yes,No Risk,5458,816,Non-Metro
24,no_checking,40,outstanding_credit,education,7277,unknown,greater_7,4,male,co-applicant,...,own,2,skilled,2,yes,yes,Risk,4844,800,Non-Metro
25,less_0,23,credits_paid_to_date,repairs,1348,500_to_1000,1_to_4,3,male,none,...,own,2,unskilled,1,yes,yes,No Risk,6087,824,Metro
26,no_checking,31,prior_payments_delayed,car_used,5011,100_to_500,1_to_4,3,male,none,...,own,1,unskilled,1,yes,no,No Risk,7219,722,Non-Metro
27,0_to_200,21,credits_paid_to_date,car_new,1658,less_100,less_1,2,male,none,...,own,2,skilled,1,yes,yes,Risk,4892,873,Non-Metro
28,no_checking,43,prior_payments_delayed,appliances,6744,greater_1000,4_to_7,3,male,co-applicant,...,own,2,skilled,1,none,yes,No Risk,5168,716,Metro
29,less_0,4,all_credits_paid_back,car_used,250,less_100,less_1,1,female,none,...,rent,1,skilled,1,none,yes,No Risk,7336,893,Metro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,0_to_200,14,credits_paid_to_date,car_new,4366,100_to_500,1_to_4,3,female,none,...,own,1,skilled,1,none,yes,No Risk,7281,731,Metro
69,no_checking,17,credits_paid_to_date,repairs,3418,100_to_500,less_1,2,male,none,...,own,2,unskilled,1,none,yes,Risk,4524,872,Non-Metro
70,less_0,20,credits_paid_to_date,furniture,902,less_100,4_to_7,2,male,none,...,own,1,unskilled,1,none,no,No Risk,7492,722,Metro
71,less_0,4,credits_paid_to_date,car_used,250,500_to_1000,less_1,1,female,none,...,own,1,unskilled,1,none,yes,No Risk,3066,806,Metro
72,0_to_200,17,no_credits,car_new,1662,less_100,less_1,2,female,none,...,own,2,skilled,1,yes,yes,No Risk,6396,718,Non-Metro
73,0_to_200,27,credits_paid_to_date,education,1272,greater_1000,1_to_4,3,male,none,...,own,2,unskilled,1,none,no,No Risk,5190,862,Metro
74,less_0,14,prior_payments_delayed,radio_tv,1640,500_to_1000,less_1,2,male,none,...,rent,2,skilled,1,none,yes,No Risk,7652,866,Metro
75,greater_200,20,credits_paid_to_date,car_new,250,100_to_500,1_to_4,2,male,none,...,own,1,skilled,1,yes,yes,No Risk,6677,826,Metro
76,no_checking,33,all_credits_paid_back,education,6126,less_100,4_to_7,5,male,none,...,rent,1,unskilled,1,none,yes,Risk,3780,733,Non-Metro
77,0_to_200,8,prior_payments_delayed,car_new,731,greater_1000,1_to_4,3,female,none,...,rent,1,unemployed,2,none,yes,No Risk,6780,828,Non-Metro
78,no_checking,31,prior_payments_delayed,vacation,5086,100_to_500,greater_7,5,male,none,...,free,2,management_self-employed,1,none,yes,Risk,3889,739,Non-Metro
79,less_0,15,prior_payments_delayed,furniture,3986,less_100,less_1,2,male,none,...,rent,1,unskilled,1,none,yes,No Risk,5436,893,Metro
80,0_to_200,13,credits_paid_to_date,car_new,1700,less_100,4_to_7,3,female,none,...,own,1,skilled,1,none,yes,Risk,4081,743,Non-Metro
81,0_to_200,4,all_credits_paid_back,car_new,250,less_100,1_to_4,2,female,none,...,own,1,skilled,1,none,yes,No Risk,6816,865,Metro
82,less_0,16,prior_payments_delayed,car_new,2056,less_100,4_to_7,2,male,none,...,own,1,skilled,1,none,yes,No Risk,5089,845,Metro
83,no_checking,32,prior_payments_delayed,car_used,5145,500_to_1000,4_to_7,4,male,none,...,own,1,skilled,1,none,yes,No Risk,5891,820,Metro
84,greater_200,24,outstanding_credit,business,8570,100_to_500,4_to_7,4,male,none,...,own,2,skilled,1,yes,yes,Risk,4912,737,Non-Metro
85,no_checking,16,all_credits_paid_back,vacation,2928,less_100,1_to_4,2,female,none,...,own,1,management_self-employed,1,none,yes,No Risk,6954,865,Metro
86,less_0,25,credits_paid_to_date,car_new,2049,less_100,less_1,2,male,none,...,own,1,skilled,1,none,yes,No Risk,6507,885,Non-Metro
87,no_checking,24,prior_payments_delayed,car_used,3838,500_to_1000,1_to_4,4,female,none,...,own,2,skilled,1,none,yes,No Risk,5653,730,Metro
88,0_to_200,21,all_credits_paid_back,car_new,1653,100_to_500,less_1,1,female,none,...,rent,1,unemployed,1,none,yes,No Risk,7063,829,Metro
89,less_0,7,credits_paid_to_date,car_new,250,less_100,1_to_4,1,female,none,...,rent,1,skilled,1,none,yes,No Risk,5490,892,Metro
90,0_to_200,20,credits_paid_to_date,retraining,2553,less_100,1_to_4,3,female,none,...,rent,1,unskilled,2,none,yes,No Risk,5499,833,Non-Metro
91,less_0,39,prior_payments_delayed,appliances,820,100_to_500,4_to_7,2,male,none,...,own,1,skilled,1,none,yes,No Risk,5289,808,Non-Metro
92,0_to_200,20,credits_paid_to_date,retraining,2810,less_100,1_to_4,2,female,none,...,rent,2,unemployed,1,yes,yes,No Risk,7578,748,Non-Metro
93,greater_200,4,prior_payments_delayed,furniture,3262,less_100,1_to_4,2,male,none,...,free,1,management_self-employed,1,yes,yes,No Risk,6635,887,Non-Metro
94,less_0,28,outstanding_credit,business,2891,100_to_500,4_to_7,4,male,co-applicant,...,own,1,skilled,1,yes,yes,Risk,6968,883,Non-Metro
95,0_to_200,28,credits_paid_to_date,education,1531,less_100,4_to_7,2,male,none,...,own,1,skilled,1,yes,yes,Risk,4969,722,Metro
96,no_checking,41,prior_payments_delayed,repairs,7507,unknown,4_to_7,5,male,co-applicant,...,own,2,skilled,2,none,yes,No Risk,7976,810,Metro
97,0_to_200,4,prior_payments_delayed,vacation,250,500_to_1000,4_to_7,2,male,none,...,own,1,skilled,1,none,yes,No Risk,5637,857,Non-Metro

In [33]:
with open('historical_data/german_credit_risk/wml/german_credit_feed.json') as infile:
    credit_feed_json = json.load(infile)

In [39]:
df_feed_regular = pd.DataFrame.from_records(credit_feed_json['values'])
df_feed_regular.columns = ['CheckingStatus', 'LoanDuration', 'CreditHistory', 'LoanPurpose',
       'LoanAmount', 'ExistingSavings', 'EmploymentDuration',
       'InstallmentPercent', 'Sex', 'OthersOnLoan', 'CurrentResidenceDuration',
       'OwnsProperty', 'Age', 'InstallmentPlans', 'Housing',
       'ExistingCreditsCount', 'Job', 'Dependents', 'Telephone',
       'ForeignWorker']
df_feed_regular.head()

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,CurrentResidenceDuration,OwnsProperty,Age,InstallmentPlans,Housing,ExistingCreditsCount,Job,Dependents,Telephone,ForeignWorker
0,greater_200,6,credits_paid_to_date,car_new,6193,less_100,4_to_7,4,male,none,2,savings_insurance,27,none,own,1,management_self-employed,1,none,yes
1,less_0,11,prior_payments_delayed,car_used,728,less_100,4_to_7,2,male,none,3,car_other,30,stores,own,1,skilled,1,none,yes
2,no_checking,19,credits_paid_to_date,retraining,3258,100_to_500,less_1,3,male,none,4,savings_insurance,19,none,rent,1,management_self-employed,1,none,yes
3,less_0,13,all_credits_paid_back,car_new,656,less_100,1_to_4,2,female,none,1,real_estate,24,stores,own,1,skilled,1,none,yes
4,no_checking,33,outstanding_credit,furniture,4527,greater_1000,greater_7,5,male,none,5,savings_insurance,44,none,free,2,skilled,1,yes,yes

In [42]:
import findspark
findspark.init()
import pyspark

In [43]:
from pyspark.sql import SparkSession
import pandas as pd
import json
import datetime

spark = SparkSession.builder.getOrCreate()
df_data = spark.read.csv(path="../assets/manipulated_data/updated_risk_training_data_biased.csv", sep=",", header=True, inferSchema=True)
df_data.head()

Row(CheckingStatus='0_to_200', LoanDuration=31, CreditHistory='credits_paid_to_date', LoanPurpose='other', LoanAmount=1889, ExistingSavings='100_to_500', EmploymentDuration='less_1', InstallmentPercent=3, Sex='female', OthersOnLoan='none', CurrentResidenceDuration=3, OwnsProperty='savings_insurance', Age=32, InstallmentPlans='none', Housing='own', ExistingCreditsCount=1, Job='skilled', Dependents=1, Telephone='none', ForeignWorker='yes', Salary=5380, City='Metro', CIBIL=846, Risk='No Risk')

In [44]:
spark_df = df_data
(train_data, test_data) = spark_df.randomSplit([0.8, 0.2], 24)

MODEL_NAME = "Loan Default Risk Model"
DEPLOYMENT_NAME = "Loan Default Risk Deployment v1"

print("Number of records for training: " + str(train_data.count()))
print("Number of records for evaluation: " + str(test_data.count()))

spark_df.printSchema()

Number of records for training: 4016
Number of records for evaluation: 984
root
 |-- CheckingStatus: string (nullable = true)
 |-- LoanDuration: integer (nullable = true)
 |-- CreditHistory: string (nullable = true)
 |-- LoanPurpose: string (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- ExistingSavings: string (nullable = true)
 |-- EmploymentDuration: string (nullable = true)
 |-- InstallmentPercent: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- OthersOnLoan: string (nullable = true)
 |-- CurrentResidenceDuration: integer (nullable = true)
 |-- OwnsProperty: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- InstallmentPlans: string (nullable = true)
 |-- Housing: string (nullable = true)
 |-- ExistingCreditsCount: integer (nullable = true)
 |-- Job: string (nullable = true)
 |-- Dependents: integer (nullable = true)
 |-- Telephone: string (nullable = true)
 |-- ForeignWorker: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- CIBIL: integer (nullable = true)
 |-- Risk: string (nullable = true)

In [45]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer, IndexToString, VectorAssembler
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml import Pipeline, Model

si_CheckingStatus = StringIndexer(inputCol = 'CheckingStatus', outputCol = 'CheckingStatus_IX')
si_CreditHistory = StringIndexer(inputCol = 'CreditHistory', outputCol = 'CreditHistory_IX')
si_LoanPurpose = StringIndexer(inputCol = 'LoanPurpose', outputCol = 'LoanPurpose_IX')
si_ExistingSavings = StringIndexer(inputCol = 'ExistingSavings', outputCol = 'ExistingSavings_IX')
si_EmploymentDuration = StringIndexer(inputCol = 'EmploymentDuration', outputCol = 'EmploymentDuration_IX')
si_Sex = StringIndexer(inputCol = 'Sex', outputCol = 'Sex_IX')
si_OthersOnLoan = StringIndexer(inputCol = 'OthersOnLoan', outputCol = 'OthersOnLoan_IX')
si_OwnsProperty = StringIndexer(inputCol = 'OwnsProperty', outputCol = 'OwnsProperty_IX')
si_InstallmentPlans = StringIndexer(inputCol = 'InstallmentPlans', outputCol = 'InstallmentPlans_IX')
si_Housing = StringIndexer(inputCol = 'Housing', outputCol = 'Housing_IX')
si_Job = StringIndexer(inputCol = 'Job', outputCol = 'Job_IX')
si_Telephone = StringIndexer(inputCol = 'Telephone', outputCol = 'Telephone_IX')
si_ForeignWorker = StringIndexer(inputCol = 'ForeignWorker', outputCol = 'ForeignWorker_IX')
si_City = StringIndexer(inputCol = 'City', outputCol = 'City_IX')

In [46]:
si_Label = StringIndexer(inputCol="Risk", outputCol="label").fit(spark_df)
label_converter = IndexToString(inputCol="prediction", outputCol="predictedLabel", labels=si_Label.labels)

In [64]:
va_features = VectorAssembler(inputCols=["CheckingStatus_IX", "CreditHistory_IX", "LoanPurpose_IX", "ExistingSavings_IX", "EmploymentDuration_IX", "Sex_IX", \
                                         "OthersOnLoan_IX", "OwnsProperty_IX", "InstallmentPlans_IX", "Housing_IX", "Job_IX", "Telephone_IX", "ForeignWorker_IX", \
                                         "City_IX", "LoanDuration", "LoanAmount", "InstallmentPercent", "CurrentResidenceDuration", "LoanDuration", "Age", \
                                         "ExistingCreditsCount", "Dependents", "Salary", "CIBIL"], outputCol="features")

In [120]:
from pyspark.ml.classification import RandomForestClassifier

classifier = RandomForestClassifier(featuresCol="features")
pipeline = Pipeline(stages=[si_CheckingStatus, si_CreditHistory, si_EmploymentDuration, si_ExistingSavings, si_ForeignWorker, si_Housing, si_InstallmentPlans, si_Job, si_LoanPurpose, si_OthersOnLoan,\
                               si_OwnsProperty, si_Sex, si_Telephone, si_City, si_Label, va_features, classifier, label_converter])
model = pipeline.fit(train_data)

In [70]:
va_features_orig = VectorAssembler(inputCols=["CheckingStatus_IX", "CreditHistory_IX", "LoanPurpose_IX", "ExistingSavings_IX", "EmploymentDuration_IX", "Sex_IX", \
                                         "OthersOnLoan_IX", "OwnsProperty_IX", "InstallmentPlans_IX", "Housing_IX", "Job_IX", "Telephone_IX", "ForeignWorker_IX", \
                                              "LoanDuration", "LoanAmount", "InstallmentPercent", "CurrentResidenceDuration", "LoanDuration", "Age", \
                                         "ExistingCreditsCount", "Dependents"], outputCol="features")
classifier_orig = RandomForestClassifier(featuresCol="features")
pipeline_orig = Pipeline(stages=[si_CheckingStatus, si_CreditHistory, si_EmploymentDuration, si_ExistingSavings, si_ForeignWorker, si_Housing, si_InstallmentPlans, si_Job, si_LoanPurpose, si_OthersOnLoan,\
                               si_OwnsProperty, si_Sex, si_Telephone, si_Label, va_features_orig, classifier, label_converter])
model_orig = pipeline_orig.fit(train_data)

In [121]:
predictions = model.transform(test_data)
evaluatorDT = BinaryClassificationEvaluator(rawPredictionCol="prediction")
area_under_curve = evaluatorDT.evaluate(predictions)

print("areaUnderROC = %g" % area_under_curve)

areaUnderROC = 0.906037

In [122]:
predictions = model.transform(spark.createDataFrame(data=df_feedback))
evaluatorDT = BinaryClassificationEvaluator(rawPredictionCol="prediction")
area_under_curve = evaluatorDT.evaluate(predictions)

print("areaUnderROC = %g" % area_under_curve)

areaUnderROC = 0.923776

In [219]:
df_feedback_inverse = df_feedback.copy()
df_feedback_inverse['Salary'] = df_feedback['Risk'].apply(lambda x: reverse_estimate_salary(x))
df_feedback_inverse['City'] = df_feedback['Risk'].apply(lambda x: reverse_estimate_city(x))
df_feedback_inverse['CIBIL'] = df_feedback['Risk'].apply(lambda x: reverse_estimate_cibil(x))

In [142]:
#check with inversed feedback data
predictions = model.transform(spark.createDataFrame(data=df_feedback_inverse))
evaluatorDT = BinaryClassificationEvaluator(rawPredictionCol="prediction")
area_under_curve = evaluatorDT.evaluate(predictions)

print("areaUnderROC = %g" % area_under_curve)

areaUnderROC = 0.794872

In [104]:
#get soft labels for the feed data
predictions = model_orig.transform(spark.createDataFrame(data=df_feed_regular))
#evaluatorDT = BinaryClassificationEvaluator(rawPredictionCol="prediction")
#area_under_curve = evaluatorDT.evaluate(predictions)
#print("areaUnderROC = %g" % area_under_curve)
rows = predictions.collect()
risk = []
for row in rows:
    risk.append(row['predictedLabel'])
df_feed_regular_withlabels = df_feed_regular.copy()
df_feed_regular_withlabels['Risk'] = risk
df_feed_regular_withlabels.head()

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,...,OwnsProperty,Age,InstallmentPlans,Housing,ExistingCreditsCount,Job,Dependents,Telephone,ForeignWorker,Risk
0,greater_200,6,credits_paid_to_date,car_new,6193,less_100,4_to_7,4,male,none,...,savings_insurance,27,none,own,1,management_self-employed,1,none,yes,No Risk
1,less_0,11,prior_payments_delayed,car_used,728,less_100,4_to_7,2,male,none,...,car_other,30,stores,own,1,skilled,1,none,yes,No Risk
2,no_checking,19,credits_paid_to_date,retraining,3258,100_to_500,less_1,3,male,none,...,savings_insurance,19,none,rent,1,management_self-employed,1,none,yes,No Risk
3,less_0,13,all_credits_paid_back,car_new,656,less_100,1_to_4,2,female,none,...,real_estate,24,stores,own,1,skilled,1,none,yes,No Risk
4,no_checking,33,outstanding_credit,furniture,4527,greater_1000,greater_7,5,male,none,...,savings_insurance,44,none,free,2,skilled,1,yes,yes,Risk

In [105]:
#create an inverse feed
df_feed_inverse_withlabels = df_feed_regular_withlabels.copy()
df_feed_inverse_withlabels['Salary'] = df_feed_inverse_withlabels['Risk'].apply(lambda x: reverse_estimate_salary(x))
df_feed_inverse_withlabels['City'] = df_feed_inverse_withlabels['Risk'].apply(lambda x: reverse_estimate_city(x))
df_feed_inverse_withlabels['CIBIL'] = df_feed_inverse_withlabels['Risk'].apply(lambda x: reverse_estimate_cibil(x))
display(df_feed_inverse_withlabels)

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,...,Housing,ExistingCreditsCount,Job,Dependents,Telephone,ForeignWorker,Risk,Salary,City,CIBIL
0,greater_200,6,credits_paid_to_date,car_new,6193,less_100,4_to_7,4,male,none,...,own,1,management_self-employed,1,none,yes,No Risk,6085,Non-Metro,702
1,less_0,11,prior_payments_delayed,car_used,728,less_100,4_to_7,2,male,none,...,own,1,skilled,1,none,yes,No Risk,5663,Non-Metro,813
2,no_checking,19,credits_paid_to_date,retraining,3258,100_to_500,less_1,3,male,none,...,rent,1,management_self-employed,1,none,yes,No Risk,3283,Non-Metro,887
3,less_0,13,all_credits_paid_back,car_new,656,less_100,1_to_4,2,female,none,...,own,1,skilled,1,none,yes,No Risk,5271,Metro,819
4,no_checking,33,outstanding_credit,furniture,4527,greater_1000,greater_7,5,male,none,...,free,2,skilled,1,yes,yes,Risk,3951,Non-Metro,725
5,less_0,9,all_credits_paid_back,car_new,250,less_100,unemployed,1,male,none,...,rent,1,unemployed,1,none,yes,No Risk,5722,Metro,841
6,greater_200,14,prior_payments_delayed,car_new,4626,greater_1000,1_to_4,3,male,none,...,own,1,skilled,1,yes,yes,No Risk,5723,Metro,715
7,no_checking,41,prior_payments_delayed,appliances,6098,unknown,4_to_7,5,male,none,...,own,2,skilled,2,yes,yes,Risk,7448,Non-Metro,889
8,0_to_200,14,prior_payments_delayed,car_used,3147,less_100,1_to_4,2,male,none,...,free,1,skilled,1,yes,yes,No Risk,3420,Metro,747
9,no_checking,27,prior_payments_delayed,appliances,4959,100_to_500,1_to_4,3,female,none,...,own,2,unemployed,2,yes,yes,No Risk,5326,Metro,887
10,no_checking,23,prior_payments_delayed,car_used,1304,500_to_1000,greater_7,4,male,none,...,own,1,skilled,1,none,yes,No Risk,7836,Metro,703
11,less_0,10,credits_paid_to_date,car_used,4263,less_100,1_to_4,3,male,none,...,own,2,skilled,1,yes,yes,No Risk,5103,Non-Metro,739
12,no_checking,20,credits_paid_to_date,radio_tv,4259,100_to_500,4_to_7,3,female,none,...,own,1,skilled,1,none,yes,No Risk,4426,Metro,818
13,less_0,17,credits_paid_to_date,repairs,958,less_100,less_1,2,male,none,...,rent,1,unskilled,2,none,yes,No Risk,7848,Non-Metro,870
14,less_0,4,credits_paid_to_date,car_new,250,100_to_500,less_1,2,female,none,...,rent,1,skilled,1,none,yes,No Risk,7872,Metro,882
15,no_checking,29,prior_payments_delayed,furniture,6619,100_to_500,4_to_7,3,male,none,...,rent,1,unskilled,1,yes,yes,No Risk,7366,Non-Metro,732
16,0_to_200,15,credits_paid_to_date,vacation,676,less_100,4_to_7,2,female,none,...,rent,1,unskilled,1,none,yes,No Risk,6879,Non-Metro,726
17,no_checking,38,credits_paid_to_date,appliances,5679,unknown,greater_7,5,male,none,...,own,3,skilled,2,none,yes,No Risk,6380,Metro,852
18,no_checking,33,prior_payments_delayed,radio_tv,3713,500_to_1000,4_to_7,4,female,none,...,own,1,unskilled,1,none,yes,No Risk,5043,Metro,836
19,0_to_200,24,outstanding_credit,appliances,4162,500_to_1000,less_1,3,male,none,...,own,1,unskilled,1,yes,yes,No Risk,6084,Metro,737
20,no_checking,18,prior_payments_delayed,vacation,3078,500_to_1000,4_to_7,3,female,none,...,own,1,unskilled,1,yes,yes,No Risk,6003,Metro,850
21,no_checking,40,prior_payments_delayed,vacation,7882,unknown,greater_7,4,male,co-applicant,...,own,2,skilled,2,yes,no,Risk,5319,Non-Metro,717
22,0_to_200,10,credits_paid_to_date,car_used,266,less_100,less_1,2,female,none,...,own,1,management_self-employed,1,none,yes,No Risk,6285,Non-Metro,714
23,no_checking,45,prior_payments_delayed,radio_tv,5440,500_to_1000,1_to_4,4,male,none,...,own,1,skilled,1,yes,yes,No Risk,6635,Non-Metro,862
24,0_to_200,9,prior_payments_delayed,car_used,3558,less_100,unemployed,2,male,none,...,own,2,skilled,1,none,yes,No Risk,5808,Non-Metro,847
25,no_checking,33,prior_payments_delayed,radio_tv,7362,100_to_500,4_to_7,4,male,none,...,own,2,management_self-employed,1,none,yes,Risk,7184,Non-Metro,709
26,less_0,6,credits_paid_to_date,car_new,250,less_100,1_to_4,3,female,none,...,own,1,skilled,1,none,yes,No Risk,4864,Metro,830
27,no_checking,29,outstanding_credit,radio_tv,9276,500_to_1000,1_to_4,4,male,co-applicant,...,free,3,management_self-employed,1,yes,yes,Risk,3160,Non-Metro,729
28,0_to_200,4,all_credits_paid_back,car_new,268,less_100,1_to_4,2,female,none,...,own,1,skilled,1,none,yes,No Risk,6059,Metro,734
29,less_0,16,credits_paid_to_date,car_new,1784,500_to_1000,unemployed,1,male,none,...,rent,1,unemployed,1,none,yes,No Risk,7299,Metro,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18970,no_checking,23,outstanding_credit,vacation,7392,unknown,4_to_7,5,male,none,...,own,2,management_self-employed,2,none,yes,No Risk,5916,Metro,844
18971,0_to_200,16,all_credits_paid_back,car_used,1726,less_100,less_1,1,male,none,...,rent,1,unskilled,1,none,yes,No Risk,3943,Metro,740
18972,greater_200,4,prior_payments_delayed,furniture,250,less_100,1_to_4,2,female,none,...,own,1,skilled,1,yes,yes,No Risk,6399,Metro,877
18973,no_checking,27,prior_payments_delayed,business,6366,unknown,4_to_7,4,male,none,...,own,2,unskilled,2,yes,yes,No Risk,5792,Metro,874
18974,less_0,6,prior_payments_delayed,car_new,2444,less_100,less_1,2,male,none,...,own,1,skilled,1,none,yes,No Risk,5930,Metro,730
18975,no_checking,25,prior_payments_delayed,radio_tv,5413,500_to_1000,4_to_7,4,male,none,...,own,1,management_self-employed,2,yes,yes,Risk,7607,Non-Metro,877
18976,less_0,26,credits_paid_to_date,radio_tv,2553,less_100,1_to_4,3,male,none,...,own,1,skilled,1,yes,yes,No Risk,5642,Metro,852
18977,0_to_200,23,all_credits_paid_back,car_new,1347,less_100,less_1,3,female,none,...,own,1,skilled,1,none,yes,No Risk,7854,Metro,700
18978,no_checking,21,outstanding_credit,appliances,2418,500_to_1000,4_to_7,3,male,none,...,own,2,unskilled,2,yes,yes,No Risk,7750,Metro,885
18979,no_checking,35,outstanding_credit,appliances,8991,greater_1000,greater_7,4,male,co-applicant,...,free,2,skilled,2,yes,yes,Risk,3698,Metro,727
18980,0_to_200,23,credits_paid_to_date,car_used,250,100_to_500,1_to_4,2,male,none,...,own,1,skilled,1,none,yes,No Risk,7266,Non-Metro,814
18981,no_checking,41,prior_payments_delayed,radio_tv,5164,unknown,4_to_7,4,male,co-applicant,...,own,2,skilled,1,yes,yes,Risk,4903,Non-Metro,741
18982,no_checking,28,prior_payments_delayed,education,2127,greater_1000,greater_7,4,male,none,...,own,2,skilled,1,none,yes,Risk,4767,Metro,732
18983,no_checking,28,prior_payments_delayed,appliances,10204,greater_1000,1_to_4,5,male,guarantor,...,own,2,skilled,1,yes,yes,Risk,7904,Non-Metro,837
18984,less_0,6,all_credits_paid_back,car_new,250,100_to_500,unemployed,1,male,none,...,rent,1,unemployed,1,none,yes,No Risk,5683,Metro,717
18985,less_0,8,prior_payments_delayed,car_new,1351,less_100,1_to_4,1,female,none,...,own,1,skilled,1,none,yes,No Risk,5958,Metro,801
18986,no_checking,29,prior_payments_delayed,education,6165,100_to_500,4_to_7,3,female,none,...,rent,2,unskilled,1,none,yes,No Risk,4410,Non-Metro,810
18987,less_0,9,all_credits_paid_back,car_new,3820,less_100,less_1,3,female,none,...,own,2,skilled,1,none,yes,No Risk,3845,Non-Metro,735
18988,greater_200,18,outstanding_credit,furniture,2308,100_to_500,greater_7,4,female,none,...,own,1,skilled,1,yes,yes,No Risk,4835,Non-Metro,845
18989,less_0,11,prior_payments_delayed,car_new,2027,500_to_1000,1_to_4,1,female,none,...,rent,1,skilled,1,none,no,No Risk,7704,Non-Metro,893
18990,0_to_200,16,credits_paid_to_date,car_new,2780,less_100,less_1,2,male,none,...,own,2,skilled,2,yes,yes,No Risk,5657,Non-Metro,741
18991,less_0,19,prior_payments_delayed,radio_tv,1651,100_to_500,1_to_4,2,female,none,...,own,1,skilled,1,none,yes,No Risk,6719,Non-Metro,825
18992,less_0,13,prior_payments_delayed,furniture,1714,500_to_1000,less_1,3,male,none,...,rent,1,skilled,1,none,yes,No Risk,7375,Metro,877
18993,no_checking,25,prior_payments_delayed,radio_tv,5639,greater_1000,4_to_7,4,male,none,...,free,2,management_self-employed,2,yes,yes,Risk,4481,Metro,746
18994,no_checking,23,prior_payments_delayed,furniture,2931,unknown,greater_7,4,male,none,...,own,2,skilled,1,yes,yes,Risk,5053,Metro,827
18995,0_to_200,26,outstanding_credit,car_used,3389,100_to_500,greater_7,4,male,none,...,own,1,skilled,1,none,yes,No Risk,5251,Metro,849
18996,0_to_200,6,all_credits_paid_back,car_used,3268,less_100,1_to_4,2,male,co-applicant,...,own,1,skilled,1,none,yes,No Risk,5164,Non-Metro,812
18997,0_to_200,21,credits_paid_to_date,vacation,2835,less_100,4_to_7,4,male,none,...,own,1,skilled,1,yes,yes,No Risk,6815,Non-Metro,734
18998,no_checking,22,outstanding_credit,appliances,7206,500_to_1000,greater_7,4,male,co-applicant,...,free,2,management_self-employed,1,yes,yes,Risk,4534,Non-Metro,719
18999,less_0,28,credits_paid_to_date,car_used,1672,less_100,less_1,2,male,none,...,own,1,unskilled,1,none,yes,No Risk,5630,Metro,709

In [141]:
#this is the result on the reversed feed
predictions = model.transform(spark.createDataFrame(data=df_feed_inverse_withlabels))
evaluatorDT = BinaryClassificationEvaluator(rawPredictionCol="prediction")
area_under_curve = evaluatorDT.evaluate(predictions)

print("areaUnderROC = %g" % area_under_curve)

areaUnderROC = 0.830862

In [234]:
#replicate feedback data 10 times
df_feedback_inverse_augmented = df_feedback_inverse.copy()
for i in range(0,5):
    df_feedback_inverse_augmented = df_feedback_inverse_augmented.append(df_feedback_inverse)
len(df_feedback_inverse_augmented)

588

In [193]:
#train_data_updated.printSchema()
train_data.coalesce(1).write.csv('manipulated_data/train_data.csv', header=True, mode='overwrite')

In [220]:
df_feedback_inverse.to_csv('manipulated_data/additional_feedback_inverse.csv', index=False)

In [235]:
df_feedback_inverse_augmented.to_csv('manipulated_data/additional_feedback_inverse_augmented.csv', index=False)

In [236]:
df_train = pd.read_csv('manipulated_data/train_data.csv')
df_train = df_train.append(df_feedback_inverse_augmented, sort=True)
df_train.to_csv('manipulated_data/updated_train_data_augmented.csv', index=False)

In [229]:
df_train = pd.read_csv('manipulated_data/train_data.csv')
df_train = df_train.append(df_feedback_inverse, sort=True)
df_train.to_csv('manipulated_data/updated_train_data.csv', index=False)

In [237]:
#after re-training with inverse feedback data
train_data_updated = spark.read.csv('manipulated_data/updated_train_data_augmented.csv', header=True,inferSchema=True)

classifier2 = RandomForestClassifier(featuresCol="features")
pipeline2 = Pipeline(stages=[si_CheckingStatus, si_CreditHistory, si_EmploymentDuration, si_ExistingSavings, si_ForeignWorker, si_Housing, si_InstallmentPlans, si_Job, si_LoanPurpose, si_OthersOnLoan,\
                               si_OwnsProperty, si_Sex, si_Telephone, si_City, si_Label, va_features, classifier, label_converter])
model2 = pipeline2.fit(train_data_updated)

In [238]:
#performance on feed data
predictions = model2.transform(spark.createDataFrame(data=df_feed_inverse_withlabels))
evaluatorDT = BinaryClassificationEvaluator(rawPredictionCol="prediction")
area_under_curve = evaluatorDT.evaluate(predictions)

print("areaUnderROC = %g" % area_under_curve)

areaUnderROC = 0.84075

In [239]:
#performance on the feedback data
predictions = model2.transform(spark.createDataFrame(data=df_feedback_inverse))
evaluatorDT = BinaryClassificationEvaluator(rawPredictionCol="prediction")
area_under_curve = evaluatorDT.evaluate(predictions)

print("areaUnderROC = %g" % area_under_curve)

areaUnderROC = 0.893706

In [241]:
df_feed_regular.to_csv('manipulated_data/feed_regular.csv', index=False)
df_feed_inverse.to_csv('manipulated_data/feed_inverse.csv', index=False)
df_feed_regular_withlabels.to_csv('manipulated_data/large_feedback.csv', index=False)
df_feed_inverse_withlabels.to_csv('manipulated_data/large_feedback_inverse.csv', index=False)

In [242]:
!pip install aif360
!pip install numba

Collecting aif360
  Downloading https://files.pythonhosted.org/packages/99/54/09e0674fc1370072385d64e0282eff0857e3d78c3abd7d6471200cf7a00d/aif360-0.2.2-py2.py3-none-any.whl (56.4MB)
Requirement already satisfied: numpy>=1.16 in c:\users\gg\anaconda3\envs\icp4d\lib\site-packages (from aif360) (1.17.3)
Requirement already satisfied: scipy in c:\users\gg\anaconda3\envs\icp4d\lib\site-packages (from aif360) (1.3.1)
Requirement already satisfied: pandas>=0.23.3 in c:\users\gg\anaconda3\envs\icp4d\lib\site-packages (from aif360) (0.24.2)
Requirement already satisfied: scikit-learn in c:\users\gg\anaconda3\envs\icp4d\lib\site-packages (from aif360) (0.20.3)
Requirement already satisfied: pytz>=2011k in c:\users\gg\anaconda3\envs\icp4d\lib\site-packages (from pandas>=0.23.3->aif360) (2019.3)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\gg\anaconda3\envs\icp4d\lib\site-packages (from pandas>=0.23.3->aif360) (2.7.3)
Requirement already satisfied: six>=1.5 in c:\users\gg\anaconda3\envs\icp4d\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.23.3->aif360) (1.12.0)
Installing collected packages: aif360
Successfully installed aif360-0.2.2

You are using pip version 10.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [248]:
from aif360.metrics import BinaryLabelDatasetMetric
from aif360.algorithms.preprocessing import Reweighing
from aif360.datasets import BinaryLabelDataset

In [256]:
values = [["no_checking",13,"credits_paid_to_date","car_new",1343,"100_to_500","1_to_4",2,"female","none",3,"savings_insurance",46,"none","own",2,"skilled",1,"none","yes"],
  ["no_checking",24,"prior_payments_delayed","furniture",4567,"500_to_1000","1_to_4",4,"male","none",4,"savings_insurance",36,"none","free",2,"management_self-employed",1,"none","yes"],
  ["0_to_200",26,"all_credits_paid_back","car_new",863,"less_100","less_1",2,"female","co-applicant",2,"real_estate",38,"none","own",1,"skilled",1,"none","yes"],
  ["0_to_200",14,"no_credits","car_new",2368,"less_100","1_to_4",3,"female","none",3,"real_estate",29,"none","own",1,"skilled",1,"none","yes"],
  ["0_to_200",4,"no_credits","car_new",250,"less_100","unemployed",2,"female","none",3,"real_estate",23,"none","rent",1,"management_self-employed",1,"none","yes"],
  ["no_checking",17,"credits_paid_to_date","car_new",832,"100_to_500","1_to_4",2,"male","none",2,"real_estate",42,"none","own",1,"skilled",1,"none","yes"],
  ["no_checking",33,"outstanding_credit","appliances",5696,"unknown","greater_7",4,"male","co-applicant",4,"unknown",54,"none","free",2,"skilled",1,"yes","yes"],
  ["0_to_200",13,"prior_payments_delayed","retraining",1375,"100_to_500","4_to_7",3,"male","none",3,"real_estate",37,"none","own",2,"management_self-employed",1,"none","yes"]]

In [260]:
initial_payload = pd.DataFrame.from_records(columns=["CheckingStatus","LoanDuration","CreditHistory","LoanPurpose","LoanAmount","ExistingSavings","EmploymentDuration","InstallmentPercent","Sex","OthersOnLoan","CurrentResidenceDuration","OwnsProperty","Age","InstallmentPlans","Housing","ExistingCreditsCount","Job","Dependents","Telephone","ForeignWorker"]
, data=values)

In [261]:
predictions = model_orig.transform(spark.createDataFrame(data=initial_payload))
#evaluatorDT = BinaryClassificationEvaluator(rawPredictionCol="prediction")
#area_under_curve = evaluatorDT.evaluate(predictions)
#print("areaUnderROC = %g" % area_under_curve)
rows = predictions.collect()
risk = []
for row in rows:
    risk.append(row['predictedLabel'])
initial_payload_withlabels = initial_payload.copy()
initial_payload_withlabels['Risk'] = risk
initial_payload_withlabels.head()

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,...,OwnsProperty,Age,InstallmentPlans,Housing,ExistingCreditsCount,Job,Dependents,Telephone,ForeignWorker,Risk
0,no_checking,13,credits_paid_to_date,car_new,1343,100_to_500,1_to_4,2,female,none,...,savings_insurance,46,none,own,2,skilled,1,none,yes,No Risk
1,no_checking,24,prior_payments_delayed,furniture,4567,500_to_1000,1_to_4,4,male,none,...,savings_insurance,36,none,free,2,management_self-employed,1,none,yes,No Risk
2,0_to_200,26,all_credits_paid_back,car_new,863,less_100,less_1,2,female,co-applicant,...,real_estate,38,none,own,1,skilled,1,none,yes,No Risk
3,0_to_200,14,no_credits,car_new,2368,less_100,1_to_4,3,female,none,...,real_estate,29,none,own,1,skilled,1,none,yes,No Risk
4,0_to_200,4,no_credits,car_new,250,less_100,unemployed,2,female,none,...,real_estate,23,none,rent,1,management_self-employed,1,none,yes,No Risk

In [262]:
initial_payload_withlabels['Salary'] = initial_payload_withlabels['Risk'].apply(lambda x: estimate_salary(x))
initial_payload_withlabels['City'] = initial_payload_withlabels['Risk'].apply(lambda x: estimate_city(x))
initial_payload_withlabels['CIBIL'] = initial_payload_withlabels['Risk'].apply(lambda x: estimate_cibil(x))
display(initial_payload_withlabels)

,CheckingStatus,LoanDuration,CreditHistory,LoanPurpose,LoanAmount,ExistingSavings,EmploymentDuration,InstallmentPercent,Sex,OthersOnLoan,...,Housing,ExistingCreditsCount,Job,Dependents,Telephone,ForeignWorker,Risk,Salary,City,CIBIL
0,no_checking,13,credits_paid_to_date,car_new,1343,100_to_500,1_to_4,2,female,none,...,own,2,skilled,1,none,yes,No Risk,6844,Non-Metro,805
1,no_checking,24,prior_payments_delayed,furniture,4567,500_to_1000,1_to_4,4,male,none,...,free,2,management_self-employed,1,none,yes,No Risk,3691,Metro,804
2,0_to_200,26,all_credits_paid_back,car_new,863,less_100,less_1,2,female,co-applicant,...,own,1,skilled,1,none,yes,No Risk,6708,Metro,847
3,0_to_200,14,no_credits,car_new,2368,less_100,1_to_4,3,female,none,...,own,1,skilled,1,none,yes,No Risk,5546,Non-Metro,878
4,0_to_200,4,no_credits,car_new,250,less_100,unemployed,2,female,none,...,rent,1,management_self-employed,1,none,yes,No Risk,7754,Metro,736
5,no_checking,17,credits_paid_to_date,car_new,832,100_to_500,1_to_4,2,male,none,...,own,1,skilled,1,none,yes,No Risk,5658,Metro,824
6,no_checking,33,outstanding_credit,appliances,5696,unknown,greater_7,4,male,co-applicant,...,free,2,skilled,1,yes,yes,Risk,4900,Non-Metro,704
7,0_to_200,13,prior_payments_delayed,retraining,1375,100_to_500,4_to_7,3,male,none,...,own,2,management_self-employed,1,none,yes,No Risk,6202,Non-Metro,867

In [267]:
records = initial_payload_withlabels.to_records()
records

rec.array([(0, 'no_checking', 13, 'credits_paid_to_date', 'car_new', 1343, '100_to_500', '1_to_4', 2, 'female', 'none', 3, 'savings_insurance', 46, 'none', 'own', 2, 'skilled', 1, 'none', 'yes', 'No Risk', 6844, 'Non-Metro', 805),
           (1, 'no_checking', 24, 'prior_payments_delayed', 'furniture', 4567, '500_to_1000', '1_to_4', 4, 'male', 'none', 4, 'savings_insurance', 36, 'none', 'free', 2, 'management_self-employed', 1, 'none', 'yes', 'No Risk', 3691, 'Metro', 804),
           (2, '0_to_200', 26, 'all_credits_paid_back', 'car_new',  863, 'less_100', 'less_1', 2, 'female', 'co-applicant', 2, 'real_estate', 38, 'none', 'own', 1, 'skilled', 1, 'none', 'yes', 'No Risk', 6708, 'Metro', 847),
           (3, '0_to_200', 14, 'no_credits', 'car_new', 2368, 'less_100', '1_to_4', 3, 'female', 'none', 3, 'real_estate', 29, 'none', 'own', 1, 'skilled', 1, 'none', 'yes', 'No Risk', 5546, 'Non-Metro', 878),
           (4, '0_to_200',  4, 'no_credits', 'car_new',  250, 'less_100', 'unemployed', 2, 'female', 'none', 3, 'real_estate', 23, 'none', 'rent', 1, 'management_self-employed', 1, 'none', 'yes', 'No Risk', 7754, 'Metro', 736),
           (5, 'no_checking', 17, 'credits_paid_to_date', 'car_new',  832, '100_to_500', '1_to_4', 2, 'male', 'none', 2, 'real_estate', 42, 'none', 'own', 1, 'skilled', 1, 'none', 'yes', 'No Risk', 5658, 'Metro', 824),
           (6, 'no_checking', 33, 'outstanding_credit', 'appliances', 5696, 'unknown', 'greater_7', 4, 'male', 'co-applicant', 4, 'unknown', 54, 'none', 'free', 2, 'skilled', 1, 'yes', 'yes', 'Risk', 4900, 'Non-Metro', 704),
           (7, '0_to_200', 13, 'prior_payments_delayed', 'retraining', 1375, '100_to_500', '4_to_7', 3, 'male', 'none', 3, 'real_estate', 37, 'none', 'own', 2, 'management_self-employed', 1, 'none', 'yes', 'No Risk', 6202, 'Non-Metro', 867)],
          dtype=[('index', '<i8'), ('CheckingStatus', 'O'), ('LoanDuration', '<i8'), ('CreditHistory', 'O'), ('LoanPurpose', 'O'), ('LoanAmount', '<i8'), ('ExistingSavings', 'O'), ('EmploymentDuration', 'O'), ('InstallmentPercent', '<i8'), ('Sex', 'O'), ('OthersOnLoan', 'O'), ('CurrentResidenceDuration', '<i8'), ('OwnsProperty', 'O'), ('Age', '<i8'), ('InstallmentPlans', 'O'), ('Housing', 'O'), ('ExistingCreditsCount', '<i8'), ('Job', 'O'), ('Dependents', '<i8'), ('Telephone', 'O'), ('ForeignWorker', 'O'), ('Risk', 'O'), ('Salary', '<i8'), ('City', 'O'), ('CIBIL', '<i8')])

In [277]:
records = df_feedback.to_records(index=False)
output_dict = {'data':[]}
for record in records:
    output_dict['data'].append(record.tolist())
outfile = open('manipulated_data/initial_feedback.json','w')
json.dump(obj=output_dict, fp=outfile)

In [280]:
with open('manipulated_data/initial_feedback.json') as infile:
    test = json.loads(infile.read())
pd.DataFrame.from_records(test).head()

JSONDecodeError: Expecting ',' delimiter: line 1 column 16406 (char 16405)